<!DOCTYPE html>
<html>
<head>
    <title>Runtime Monitor</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href='/mon/css/mon.css'/>
    <script type='text/javascript'
            src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>
    <script type='text/javascript' src='/mon/scripts/jquery.sparkline.min.js'></script>
    <script type='text/javascript' src='/mon/scripts/mon-client.js'></script>

    <style type="text/css">
        div.counters {
            margin-left: 10px;
        }

        .counters table {
            border: 1px solid #DFDFDF;
            background-color: #F9F9F9;
            width: 90%;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            color: #333;
            border-collapse: collapse;
        }

        .counters tr {
        }

        .counters td, .counters th {
            color: #555;
            border-top-color: white;
            border-bottom: 1px solid #DFDFDF;
        }

        .counters .pid {
            font-weight: bold;
        }

        .counters a, .counters a:visited {
            color: #386CBD;
            text-decoration: none;
        }

        .counters th {
            font-weight: bold;
            text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
            padding: 7px 7px 8px;
            text-align: left;
            line-height: 1.3em;
        }

        .counters td {
            padding: 4px 7px 4px;
            vertical-align: top;
        }

        .counters td p {
            padding: 0;
            margin: 2px;
        }

        .counters div.info {
            background-color: #F9F9F9;
            width: 90%;
            border: 1px solid #DFDFDF;
        }

        .counters div.info p {
            padding: 0px 4px;
        }

        .counters ul {
            list-style: none;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        .counters ul li:before {
            content: "\00BB \0020";
        }
    </style>
</head>

<body>

<%- partial("header") %>

<div class="mask">
<%- body %>

<div class="footer">
<%- partial("footer") %>
</div>
</div>
</body>
</html>
